---
http_interactions:
- request:
    method: get
    uri: https://content.googleapis.com/content/v1/8082979/items/products/generic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Authorization required
    headers:
      Www-Authenticate:
      - GoogleLogin realm="http://www.google.com/accounts"
      Content-Type:
      - text/html; charset=UTF-8
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |
        <HTML>
        <HEAD>
        <TITLE>Authorization required</TITLE>
        </HEAD>
        <BODY BGCOLOR="#FFFFFF" TEXT="#000000">
        <H1>Authorization required</H1>
        <H2>Error 401</H2>
        </BODY>
        </HTML>
  recorded_at: Thu, 24 Oct 2013 10:09:39 GMT
- request:
    method: post
    uri: https://accounts.google.com/o/oauth2/token
    body:
      encoding: UTF-8
      string: client_id=394436953502.apps.googleusercontent.com&client_secret=iQo534MKkxD-ZSd2HTWRi9QH&refresh_token=1%2F_6d7ZIxgGjyoJG-OCQ81v2-KDKUyY4ixEHZaPQobP34&grant_type=refresh_token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: |-
        {
          "access_token" : "ya29.AHES6ZQ98MREqKtrZUvnwyfPCaNOjiSOQZJzUEzecoMJZmhz",
          "token_type" : "Bearer",
          "expires_in" : 3600
        }
  recorded_at: Thu, 24 Oct 2013 10:09:39 GMT
- request:
    method: get
    uri: https://content.googleapis.com/content/v1/8082979/items/products/generic?access_token=ya29.AHES6ZQ98MREqKtrZUvnwyfPCaNOjiSOQZJzUEzecoMJZmhz
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token="ya29.AHES6ZQ98MREqKtrZUvnwyfPCaNOjiSOQZJzUEzecoMJZmhz"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '1.0'
      Etag:
      - W/"A0QMQ309eSl7ImA9Wh5RFk0."
      Last-Modified:
      - Thu, 24 Oct 2013 10:09:42 GMT
      Alternate-Protocol:
      - 443:quic
    body:
      encoding: UTF-8
      string: <?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:gd='http://schemas.google.com/g/2005'
        gd:etag='W/&quot;A0QMQ309eSl7ImA9Wh5RFk0.&quot;'><id>http://content.googleapis.com/content/v1/8082979/items/products/generic</id><updated>2013-10-24T10:09:42.361Z</updated><link
        rel='alternate' type='text/html' href='http://content.googleapis.com'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://content.googleapis.com/content/v1/8082979/items/products/generic'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://content.googleapis.com/content/v1/8082979/items/products/generic'/><link
        rel='http://schemas.google.com/g/2005#batch' type='application/atom+xml' href='https://content.googleapis.com/content/v1/8082979/items/products/generic/batch'/><link
        rel='self' type='application/atom+xml' href='https://content.googleapis.com/content/v1/8082979/items/products/generic?max-results=25'/><author><name>Google
        Inc.</name><email>google-content-api-for-shopping@googlegroups.com</email></author><openSearch:itemsPerPage>25</openSearch:itemsPerPage></feed>
  recorded_at: Thu, 24 Oct 2013 10:09:42 GMT
recorded_with: VCR 2.6.0
